@model Borg.System.Backoffice.Core.GenericEntity.EditEntityViewModel
@{
    var withtile = Model as Borg.Infrastructure.Core.DDD.Contracts.IHaveTitle;
    if (withtile != null)
    {
        ViewBag.Title = withtile.Title;
    }
    var entity = Model.Entity;
    var type = entity.GetType();
    var propertyFlags = System.Reflection.BindingFlags.Public;
    var propertiesToBind = type.GetProperties(propertyFlags);
}

@{

}

<div class="box box-primary">
    <div class="box-header with-border">
        <h3 class="box-title">Quick Example</h3>
    </div>
    <!-- /.box-header -->
    <!-- form start -->
    <form role="form">



        @foreach (var prop in Model.ProperyInfos())
        {
            string propName = prop.Name;
            string propNameWithPrefix = Html.Name(prop.Name);
            string propDisplayName = Html.DisplayName(prop.Name);
            string propId = Html.Id(prop.Name);
            string propValue = Html.Value(prop.Name);

            @Html.Editor(propName, new { htmlAttributes = new { @class = "form-control", name = propNameWithPrefix, id = propId }  })
        <ul>
            <li>@propName</li>
            <li>@propNameWithPrefix</li>
            <li>@propDisplayName</li>
            <li>@propId</li>
            <li>@propValue</li>
        </ul>

        }

        <!-- /.box-body -->

        <div class="box-footer">
            <button type="submit" class="btn btn-primary">Submit</button>
        </div>
    </form>
</div>